<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" http-equiv="Content-Type">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>BlackJack</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:fragment="content">
            <h1>[[${room.name}]]</h1> <hr />
        <div id = "dealerArea">
            Dealer's card image ( Dealer's Area )
            <button type="button" class="btn btn-warning" id = "button-start">게임 시작</button>
            <hr/>
        </div>
        <div>
            <div id = "playerArea">

            </div>
        </div>

        <div>
                <div id = "chatArea" class="p-3 mb-2 bg-light text-dark" style="overflow-y: scroll; height: 200px"></div>
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="button-send">Enter</button>
                    </div>
                </div>
        </div>

</th:block>

<script th:inline="javascript">
    var stomp = null;

    $(document).ready(function(){

        var roomName = [[${room.name}]];
        var roomId = [[${room.roomId}]];
        var username = [[${player.name}]];
        var updatedCoin;
        var senderIndex;
        var imgPath;

        console.log(roomName + ", " + roomId + ", " + username);

        var sockJs = new SockJS("/stomp/blackjack");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        stomp = Stomp.over(sockJs)

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/blackjack/room/" + roomId, function (chat) {
                var content = JSON.parse(chat.body);
                var writer = content.sender;
                var msg = content.message;
                var writerType = content.type;
                var command = content.command;
                updatedCoin = content.value;
                senderIndex = content.playerIndex;
                imgPath = content.cardImgPath;
                var str = '';
                const dealer = 'Dealer';
                console.log(content)

                if(writerType === dealer && command === "BET") {
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + "##Dealer : " + msg + "</b>";
                    str += "</div></div>";
                    $("#chatArea").append(str);

                    updateCoinValue(content.playerIndex, content.value)
                }
                else if(writerType === dealer && command === "ENTER"){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + "##Dealer : " + msg + "</b>";
                    str += "</div></div>";
                    $("#chatArea").append(str);
                    addPlayerToArea(content);
                }
                else{
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + msg + "</b>";
                    str += "</div></div>";
                    $("#chatArea").append(str);
                }
                scrollToBottom();

        }, function (error) {
            console.log("STOMP Connection Error: " + error);
        });

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/blackjack/enter', {}, JSON.stringify({roomId: roomId, sender: username}))

        });

        document.getElementById('button-start').onclick = function() {
            stomp.send('/pub/blackjack/command', {},
                JSON.stringify({
                    roomId: roomId,
                    command: "START"
                }))
        };

        $("#button-send").on("click", function(e){
            var msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/blackjack/message', {}, JSON.stringify({
                roomId: roomId,
                message: msg.value,
                sender: username
            }));
            msg.value = '';
        });

        function addPlayerToArea(content) {
            var playerArea = document.getElementById("playerArea");
            var playerDiv = document.createElement("div");
                playerDiv.innerHTML = `
                <label><span>${content.sender}</span></label>
                <label><span id="coin${content.playerIndex}">${content.value}</span></label>
                <span id="playerCardArea${content.playerIndex}"></span>
                <input class="how-bat" type="text" id="betting${content.playerIndex}" style="width: 50px">
                <button class="btn btn-dark" type="button" id="button-betting${content.playerIndex}">배팅</button>
                <button class="btn btn-success" type="button" id="button-hit${content.playerIndex}">HIT</button>
                <button class="btn btn-danger" type="button" id="button-stop${content.playerIndex}">STOP</button>
                <hr />
            `;
                playerArea.appendChild(playerDiv);

            document.getElementById('button-betting' + content.playerIndex).onclick = function() {
                var value = document.getElementById('betting' + content.playerIndex);
                stomp.send('/pub/blackjack/command', {}, JSON.stringify({
                    roomId: roomId,
                    sender: content.sender,
                    command: "BET",
                    value: value.value,
                    playerIndex: content.playerIndex
                }));
            };

            document.getElementById('button-hit' + content.playerIndex).onclick = function() {
                stomp.send('/pub/blackjack/command', {}, JSON.stringify({
                    roomId: roomId,
                    sender: content.sender,
                    command: "HIT",
                    playerIndex: content.playerIndex,
                    cardImgPath: content.cardImgPath // 수상한데?
                }));
            };

            document.getElementById('button-stop' + content.playerIndex).onclick = function() {
                stomp.send('/pub/blackjack/command', {}, JSON.stringify({
                    roomId: roomId,
                    sender: content.sender,
                    command: "STOP",
                    playerIndex: content.playerIndex
                }));
            };
        }

        function sendMessage(sender, command) {
            var message = {
                type: 'COMMAND',
                sender: sender,
                command: command
            };
            stomp.send("/pub/blackjack/command", {}, JSON.stringify(message));
        };

    // 메시지가 추가될 때마다 스크롤을 아래로 내리는 함수
    function scrollToBottom() {
        var chatArea = document.getElementById("chatArea");
        chatArea.scrollTop = chatArea.scrollHeight;
    }

    // 예시: 새 메시지를 추가할 때 스크롤을 아래로 내림
    function addMessage(message) {
        var chatArea = document.getElementById("chatArea");
        var newMessageElement = document.createElement("div");
        newMessageElement.textContent = message;
        chatArea.appendChild(newMessageElement);
        scrollToBottom(); // 새 메시지가 추가될 때마다 스크롤을 아래로 내림
    }

        function updateCoinValue(index, newValue) {
            var coinElement = document.getElementById(`coin${index}`);
            if (coinElement) {
                coinElement.textContent = newValue;
            } else {
                console.error('Element with id "coin-' + index + '" not found.');
            }
        }

    });
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>